* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: red 1px solid;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#board {
	margin-top: 100px;
	display: flex;
	flex-wrap: wrap;
	width: 640px;
	height: 640px;
}
.pixel {
	width: calc(100% / 64);
	height: calc(100% / 64);
	background-color: black;
}
