* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*border: red 1px solid;*/
}

body {
	background-color: #1b1b1b;
	color: white;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#toolbar {
	height: 80px;
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
}

#board {
	display: flex;
	flex-wrap: wrap;
	width: 500px;
	height: 500px;
}
.pixel {
	width: calc(100% / 16);
	height: calc(100% / 16);
	background-color: white;
}
.grid {
	border: 0.1px solid #333;
}
