@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*border: red 1px solid;*/
}

body {
	background: url(assets/bg.png) fixed center center no-repeat;
	background-color: #262322;
	backdrop-filter: blur(2px);
	color: white;
	font-family: "Press Start 2P", system-ui;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#title {
	color: #ffff60;
	font-size: 42px;
	text-shadow: 0px 0px 4px #ffff60, 0px 0px 2px #ffff60;
	text-align: center;
}
#container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#toolbar {
	min-height: 80px;
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

#toolbar #colorPicker {
	height: 30px;
	border: 2px solid #262322;
	width: 60px;
	box-shadow: 0px 1px 0.5px 0.5px #262322;
}
#toolbar button {
	height: fit-content;
	border: 2px solid #262322;
	background-color: #fffcff;
	color: #262322;
	box-shadow: 0px 1px 0.5px 0.5px #262322;
	font-family: "Press Start 2P", system-ui;
	font-size: 14px;
	padding: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
}
#toolbar button:hover {
	background-color: #3185fc;
	color: #fffcff;
}
#rainbowBtn.active {
	background: linear-gradient(
		45deg,
		rgb(255, 105, 105),
		rgb(255, 255, 114),
		rgb(108, 247, 108),
		rgb(255, 153, 255)
	);
}
#gridSizeContainer {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	align-items: center;
}
#gridSize {
	appearance: none;
	max-width: 200px;
	height: 18px;
	background: #fffcff;
	border: 2px solid #262322;
	box-shadow: 0px 1px 0.5px 0.5px #262322;
	border-radius: 9px;
	outline: none;
}

#board {
	border: 3px solid #262322;
	box-shadow: 0px 1px 0.5px 0.5px #262322;
	display: flex;
	flex-wrap: wrap;
	width: 500px;
	aspect-ratio: 1/1;
}
.pixel {
	width: calc(100% / 16);
	height: calc(100% / 16);
	background-color: white;
}
.grid {
	border: 0.1px solid #333;
}

@media (max-width: 600px) {
	#title {
		margin-bottom: 50px;
		font-size: 32px;
	}
	#toolbar {
		max-width: 90%;
	}
	#toolbar button {
		font-size: 12px;
	}
	#board {
		width: 90%;
		aspect-ratio: 1/1;
	}
}
